.wrapp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}

.left {
    width: 45%;
}

.img {
    width: 100%;
}

.right {
    width: 45%;
}

.formWrapp {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 610px) {
    .wrapp {
        flex-direction: column;
    }

    .left {
        width: 90%;
        margin: 0 auto;
    }

    .right {
        width: auto
    }
}


